# ─────────────────────────
# Python 컴파일 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# ─────────────────────────
# 가상환경
venv/
env/

# ─────────────────────────
# 빌드/배포 파일
build/
dist/
*.spec

# ─────────────────────────
# IDE 설정
.vscode/
.idea/

# ─────────────────────────
# 운영체제 자동 생성 파일
.DS_Store
Thumbs.db

# ─────────────────────────
# 민감 정보
config.json

# ─────────────────────────
# 기타: 캐시, 임시파일
*.log
*.tmp

*.pdf
*.xlsx

*.zip